*, *:before, *:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
} 

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  background: black;
  color: white;
  line-height: 1.5;
  font-size: 1.3em;
  font-family: 'Courier New', Courier, monospace;
}

header .logo-wrapper {
  display: inline-block;
  height: 70px;
  background: #ff0000;
}

header .logo-wrapper a {
  text-decoration: none;
}

header .logo {
  height: 40px;
  margin-left: 15px;
  vertical-align: middle;
}

header .slash {
  height: 100%;
  vertical-align: middle;
  background: black;
}

article {
  flex: 1 0 auto;
  width: 860px;
  margin: 2em auto;
  padding: 0 2em;
}

footer {
  flex-shrink: 0;
  text-align: center;
  padding: 0 2em;
  line-height: 1.25;
}

button {
  width: 100%;
  background: none;
  color: white;
  border: 2px solid white;
  margin: .25em 1em .25em 0;
  padding: .5em;
  font-family: inherit;
  font-size: 1em;
}

button:focus {
  outline: 0;
  color: #F8FC4F;
  border-color: #F8FC4F;
}

button:hover {
  cursor: pointer;
  color: #F8FC4F;
  border-color: #F8FC4F;
}

h1 {
  font-size: 2em;
}

a {
  color: white;
}

#content .options {
  display: flex;
  margin: 2em 0;
}

#content .options button {
  flex: 1 0 50%;
}

#player {
  position: relative;
  text-align: center;
  margin-bottom: 4em;
}

#player .control {
  vertical-align: middle;
  display: inline-block;
  font-size: 1.5em;
  cursor: pointer;
}

#player .play, #player .pause {
  font-size: 3em;
}

#player .progress {
  cursor: pointer;
  width: 170px;
  margin: 0 auto;
  background-color: rgba(255,255,255,.5);
}

#player .progress-bar {
  height: 5px;
  width: 0%;
  background-color: white;
  transition: width 500ms;
}

#player .wave {
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  z-index: -1;
}

@media (max-width: 860px) {
  body {
    font-size: 1.15em;
  }

  article {
    width: 100%;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 1em;
  }

  #player {
    margin-bottom: 2em;
  }

  #content .options {
    flex-direction: column;
  }
}