*, *:before, *:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
} 

body {
  margin: 0;
  background: black;
  color: white;
  line-height: 1.5;
  font-size: 1.3em;
  font-family: 'Courier New', Courier, monospace;
}

header .logo-wrapper {
  display: inline-block;
  height: 70px;
  background: #ff0000;
}

header .logo-wrapper a {
  text-decoration: none;
  display: inline-block;
}

header .logo-wrapper a:focus {
  outline: 0;
}

header .logo {
  margin-left: 15px;
  vertical-align: middle;
}

header .slash {
  height: 100%;
  vertical-align: middle;
  background: black;
}

header .sharing {
  float: right;
  display: inline-block;
  line-height: 70px;
  font-size: 1.3em;
  cursor: pointer;
  color: white;
  margin: 7px 1em 0;
  padding: 0;
  list-style: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

header .sharing li {
  display: inline-block;
  width: 30px;
  text-align: center;
}

header .sharing li:hover .icon {
  transform: scale(1.3);
}

header .sharing a {
  text-decoration: none;
}

header .sharing .icon {
  height: 20px;
  width: initial;
  transition: transform 50ms linear;
}

article {
  width: 860px;
  margin: 2em auto;
  padding: 0 2em;
}

article:after {
  display: block;
  content: "";
  height: 300px;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  line-height: 1.25;
  padding-top: 2em;
}

footer::before {
  display: block;
  content: "";
  z-index: -1;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  height: 2em;
  pointer-events: none;
  background: linear-gradient(transparent 0%, black 85%);
}

footer .background-wrapper {
  background: black;
  padding: 1.25em 0;
}

footer p {
  margin: 1.25em;
}

button {
  width: 100%;
  background: none;
  color: white;
  border: 2px solid white;
  margin: .25em .5em .25em 0;
  padding: .5em;
  font-family: inherit;
  font-size: 1em;
  transition: all 500ms;
}

button:focus {
  outline: 0;
  color: #F8FC4F;
  border-color: #F8FC4F;
}

button:hover {
  cursor: pointer;
  color: #F8FC4F;
  border-color: #F8FC4F;
}

h1 {
  font-size: 2em;
}

a {
  color: white;
}

a:focus {
  outline: 0;
  color: #F8FC4F;;
}

#content .options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2em 0;
}

#content .options button {
  flex: calc(50% - 1em) 0;
}

#player {
  position: relative;
  z-index: 1;
  text-align: center;
  margin-bottom: 3em;
}

#player .control {
  vertical-align: middle;
  display: inline-block;
  font-size: 1.5em;
  cursor: pointer;
  transition: color 500ms;
  margin: .25em;
}

#player .control:focus {
  outline: 0;
  color: #F8FC4F;
}

#player .play, #player .pause {
  font-size: 3em;
}

#player .progress {
  cursor: pointer;
  width: 8em;
  margin: 0 auto;
  background-color: rgba(255,255,255,.5);
}

#player .progress-bar {
  height: 5px;
  width: 0%;
  background-color: white;
  pointer-events: none;
}

#player .wave {
  position: absolute;
  top: -50%;
  left: 0;
  right: 0;
  z-index: -1;
}

@media (max-width: 860px) {
  body {
    font-size: 1.15em;
  }

  article {
    width: 100%;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 1em;
  }

  header .logo-wrapper {
    height: 50px;
  }

  header .sharing {
    line-height: 50px;
  }

  header .logo {
    height: 30px;
  }

  article {
    margin: 0 auto 2em;
    padding: 0 1.25em;
  }

  #player {
    margin-bottom: 2em;
  }

  #content .options {
    flex-direction: column;
  }
}